<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzq.dao.RentingMapper">
    <insert id="insertHouseInfo" parameterType="com.jzq.bean.HousingEstateInfo" >
        insert into housing_estate_info
        values(#{housingEstate}, #{subway}, #{company}, #{score})
    </insert>

    <resultMap id="HousingEstateInfoVO" type="com.jzq.vo.HousingEstateInfoVO">
        <id property="housingEstate" column="housing_estate"></id>
    </resultMap>

    <select id="selectHouseInfoOrderByScore" resultMap="HousingEstateInfoVO">
        select housing_estate, score
        from housing_estate_info
        order by score desc
        <if test="size != 0 or current != 0">
            limit #{current}, #{size}
        </if>
    </select>
</mapper>